.cm-colon {
    color: red;
}

.cm-contraints {
    color: purple;
}

/* mbracket because bracket is taken by codemirror  */
.cm-mbracket {
    color: darkorchid;
}

.cm-and {
    color: green;
}

.cm-or {
    color: green;
}

.cm-not {
    color: green;
}

.cm-sequence {
    color: purple;
}

.cm-minus {
    color: red;
}

.cm-par {
    color: grey;
}

.cm-sent {
    color: aqua;
}

.cm-caret {
    color: coral;
}

.cm-dot {
    color: darkslateblue;
}

.cm-tilde {
    color: darkorchid;
}


.cm-equal {
    color: red;
}

.cm-not-equal {
    color: red;
}

.cm-lt {
    color: red;
}

.cm-le {
    color: purple;
}

.cm-gt {
    color: red;
}

.cm-ge {
    color: purple;
}

